
<!--The content below is only a placeholder and can be replaced.-->
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
	<flash-messages></flash-messages>
	<div style="text-align: center">
		<nav class="navbar navbar-inverse">
			<div class="container-fluid">
				<div class="navbar-header"></div>
				<ul class="nav navbar-nav">
					<li><a *ngIf="!user.isUserLoggedIn" routerLink="#"
						routerLinkActive="active"><span
							></span><b>Urban Spoon</b></a></li>

				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li><a *ngIf="!user.isUserLoggedIn" routerLink="/home"
						routerLinkActive="active"><span
						></span>Home</a></li>
					<li><a *ngIf="!user.isUserLoggedIn" routerLink="/head/signIn"
						routerLinkActive="active"><span
							class="glyphicon glyphicon-log-in"></span> Login</a></li>
					<li><a *ngIf="!user.isUserLoggedIn" routerLink="/head/signUp"
						routerLinkActive="active"><span
							class="glyphicon glyphicon-user"></span>SignUp</a></li>
						<li><a *ngIf="user.isUserLoggedIn && user.isULoggedIn" routerLink="/addDish" routerLinkActive="active"><span
						></span>Add Dishes</a></li>
							<li><a *ngIf="user.isUserLoggedIn || user.isULoggedIn" routerLink="/logout" routerLinkActive="active"><span
						class="glyphicon glyphicon-user"></span> Logout</a></li>
				</ul>
			</div>
		</nav>
		<router-outlet></router-outlet>
		 <!-- <flash-messages></flash-messages> -->
	</div>
</body>

